<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.1.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-4.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd 
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-4.1.xsd">

  <context:component-scan base-package="pratiBaza.*" />
  <import resource="classpath*:baza.xml" /> <!-- /jpgzCrud/src/main/resources/ -->
  
  <bean id="applicationContextProvider" class="rs.atekom.prati.ApplicationContextProvider"/>
    
    <!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> -->
       <!-- <property name="driverClassName" value="com.mysql.jdbc.Driver" />    -->
       <!-- <property name="url" value="jdbc:mysql://localhost:3306/magacin?characterEncoding=UTF-8&amp;useSSL=false" />         -->
       <!-- <property name="username" value="magacin" /> -->
       <!-- <property name="password" value="magacin" /> -->
       <!-- <property name="removeAbandoned" value="true" /> -->
       <!-- <property name="removeAbandonedTimeout" value="300" /> -->
	   <!-- <property name="initialSize" value="1" /> -->
	   <!-- <property name="maxActive" value="100" /> -->
	   <!-- <property name="maxIdle" value="10" /> -->
	   <!-- <property name="removeAbandonedOnMaintenance" value="true" /> -->
	   
       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
       <property name="driverClass" value="com.mysql.cj.jdbc.Driver" /> 
       <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/prati?characterEncoding=UTF-8&amp;useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Belgrade&amp;useSSL=false" />
<!--   <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/prati?characterEncoding=UTF-8&amp;useSSL=false" />    --> 
       <property name="user" value="pracenje" /> 
       <property name="password" value="pracenje" /> 

	   <property name="initialPoolSize" value="5" />
	   <property name="minPoolSize" value="3" />
	   <property name="maxPoolSize" value="20" />
	   <property name="acquireIncrement" value="1" /> 
	   <property name="testConnectionOnCheckin" value="true" />
	   <property name="idleConnectionTestPeriod" value="150" /> 
	   <property name="maxIdleTimeExcessConnections" value="240" /> 
	   <property name="unreturnedConnectionTimeout" value="30" />
<!-- 
       <property name="maxIdleTime" value="720" /> 
	   <property name="maxConnectionAge" value="0" /> 
	   <property name="acquireRetryAttempts" value="10" /> 
	   <property name="acquireRetryDelay" value="1000" /> 
	   <property name="breakAfterAcquireFailure" value="false" />
	   <property name="checkoutTimeout" value="1800" /> 
	  
	   <property name="testConnectionOnCheckout" value="true" />
	   <property name="preferredTestQuery" value="SELECT 1" />
-->      
       </bean> 
 
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"></property>
    <property name="annotatedClasses">
            <list>
               <value>pratiBaza.tabele.EvidencijaVoznji</value>
               <value>pratiBaza.tabele.AlarmiKorisnik</value>
               <value>pratiBaza.tabele.Grupe</value>
               <value>pratiBaza.tabele.GrupeKorisnici</value>
               <value>pratiBaza.tabele.GrupeObjekti</value> 
               <value>pratiBaza.tabele.GrupeObjektiPK</value>
               <value>pratiBaza.tabele.Javljanja</value>
               <value>pratiBaza.tabele.JavljanjaPoslednja</value>
               <value>pratiBaza.tabele.JavljanjaMirovanja</value>  
               <value>pratiBaza.tabele.Korisnici</value> 
               <value>pratiBaza.tabele.Obd</value>
               <value>pratiBaza.tabele.ObdPoslednji</value>
               <value>pratiBaza.tabele.Objekti</value>
               <value>pratiBaza.tabele.ObjektiPoslednje</value>
               <value>pratiBaza.tabele.Organizacije</value>
               <value>pratiBaza.tabele.Partneri</value>
               <value>pratiBaza.tabele.Projekti</value>
               <value>pratiBaza.tabele.Sifre</value>
               <value>pratiBaza.tabele.Racuni</value>
               <value>pratiBaza.tabele.RacuniRaspodela</value>
               <value>pratiBaza.tabele.Sim</value>
               <value>pratiBaza.tabele.Sistem</value>
               <value>pratiBaza.tabele.SistemAlarmi</value>
               <value>pratiBaza.tabele.SistemGoriva</value>
               <value>pratiBaza.tabele.SistemObracuni</value>
               <value>pratiBaza.tabele.SistemOperateri</value>
               <value>pratiBaza.tabele.SistemPretplatnici</value>
               <value>pratiBaza.tabele.SistemSesije</value>
               <value>pratiBaza.tabele.SistemUredjajiModeli</value>
               <value>pratiBaza.tabele.SistemUredjajiProizvodjac</value>
               <value>pratiBaza.tabele.Troskovi</value>
               <value>pratiBaza.tabele.Uredjaji</value>
               <value>pratiBaza.tabele.Vozaci</value>
               <value>pratiBaza.tabele.VozaciDozvole</value>
               <value>pratiBaza.tabele.VozaciLekarsko</value>
               <value>pratiBaza.tabele.VozaciLicna</value>
               <value>pratiBaza.tabele.VozaciLicence</value>
               <value>pratiBaza.tabele.VozaciPasosi</value>
               <value>pratiBaza.tabele.Vozila</value>
               <value>pratiBaza.tabele.VozilaNalozi</value>
               <value>pratiBaza.tabele.VozilaOprema</value>
               <value>pratiBaza.tabele.VozilaOpremaPrijem</value>
               <value>pratiBaza.tabele.VozilaPrimoPredaje</value>
               <value>pratiBaza.tabele.VozilaSaobracajne</value>
               <value>pratiBaza.tabele.VozilaSaobracajne2</value>
               <value>pratiBaza.tabele.Zone</value>
               <value>pratiBaza.tabele.ObjekatZone</value>
               <value>pratiBaza.pomocne.IzvestajTip</value>
               <value>pratiBaza.pomocne.Mail</value>
         <!--  <value>pratiBaza.pomocne.Obracuni</value> -->
               <value>pratiBaza.pomocne.PredjeniPut</value>
               <value>pratiBaza.pomocne.PredjeniPutGPS</value>
               <value>pratiBaza.pomocne.PredjeniPutOBD</value>
               <value>pratiBaza.pomocne.RadnoVremePutGPS</value>
               <value>pratiBaza.pomocne.StavkaPrijema</value>
               <value>pratiBaza.pomocne.StajanjeMirovanje</value>
               <value>pratiBaza.pomocne.StanjeOBD</value>
               <value>pratiBaza.pomocne.TipServisa</value>
            </list>
    </property>
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
        <prop key="hibernate.show_sql">false</prop> 
        <prop key="hibernate.connection.autoReconnect">true</prop>
        <prop key="hibernate.connection.autoReconnectForPools">true</prop> 
        <prop key="connection.is-connection-validation-required">true</prop>
        <prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
        <prop key="hibernate.jdbc.log.warnings">false</prop>
        
        <!-- 
        <prop key="spring.jpa.show-sql">false</prop>
        <prop key="spring.jpa.properties.hibernate.show_sql">false</prop>
         -->
      </props>
    </property>
  </bean>
  

  <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
	        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <tx:annotation-driven transaction-manager="txManager" />
  <bean id="alarmKorisnikDAO" class="pratiBaza.daoImpl.AlarmiKorisnikDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="alarmKorisnikServis" class="pratiBaza.servisImpl.AlarmiKorisnikServisImpl">
        <property name="alarmKorisnikDAO" ref="alarmKorisnikDAO"></property>
  </bean>
    <bean id="evidencijaDAO" class="pratiBaza.daoImpl.EvidencijaVoznjiDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="evidencijaServis" class="pratiBaza.servisImpl.EvidencijaVoznjiServisImpl">
        <property name="evidencijaDAO" ref="evidencijaDAO"></property>
  </bean>
  <bean id="grupaDAO" class="pratiBaza.daoImpl.GrupeDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="grupaServis" class="pratiBaza.servisImpl.GrupeServisImpl">
        <property name="grupaDAO" ref="grupaDAO"></property>
  </bean>
  <bean id="grupaKorisnikDAO" class="pratiBaza.daoImpl.GrupeKorisniciDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="grupaKorisnikServis" class="pratiBaza.servisImpl.GrupeKorisniciServisImpl">
        <property name="grupaKorisnikDAO" ref="grupaKorisnikDAO"></property>
  </bean>
    <bean id="grupaObjekatDAO" class="pratiBaza.daoImpl.GrupeObjektiDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="grupaObjekatServis" class="pratiBaza.servisImpl.GrupeObjektiServisImpl">
        <property name="grupaObjekatDAO" ref="grupaObjekatDAO"></property>
  </bean>
  <bean id="javljanjeDAO" class="pratiBaza.daoImpl.JavljanjaDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="javljanjeServis" class="pratiBaza.servisImpl.JavljanjaServisImpl">
        <property name="javljanjeDAO" ref="javljanjeDAO"></property>
  </bean>
  <bean id="javljanjePoslednjeDAO" class="pratiBaza.daoImpl.JavljanjaPoslednjaDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="javljanjePoslednjeServis" class="pratiBaza.servisImpl.JavljanjaPoslednjaServisImpl">
        <property name="javljanjePoslednjeDAO" ref="javljanjePoslednjeDAO"></property>
  </bean>
    <bean id="javljanjeMirovanjeDAO" class="pratiBaza.daoImpl.JavljanjaMirovanjaDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="javljanjeMirovanjeServis" class="pratiBaza.servisImpl.JavljanjaMirovanjaServisImpl">
        <property name="javljanjeMirovanjeDAO" ref="javljanjeMirovanjeDAO"></property>
  </bean>
  <bean id="korisnikDAO" class="pratiBaza.daoImpl.KorisniciDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="korisnikServis" class="pratiBaza.servisImpl.KorisniciServisImpl">
        <property name="korisnikDAO" ref="korisnikDAO"></property>
  </bean>
  <bean id="obdDAO" class="pratiBaza.daoImpl.ObdDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="obdServis" class="pratiBaza.servisImpl.ObdServisImpl">
        <property name="obdDAO" ref="obdDAO"></property>
  </bean>
   <bean id="obdPoslednjiDAO" class="pratiBaza.daoImpl.ObdPoslednjiDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="obdPoslednjiServis" class="pratiBaza.servisImpl.ObdPoslednjiServisImpl">
        <property name="obdPoslednjiDAO" ref="obdPoslednjiDAO"></property>
  </bean>
  <bean id="objekatDAO" class="pratiBaza.daoImpl.ObjektiDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="objekatServis" class="pratiBaza.servisImpl.ObjektiServisImpl">
        <property name="objekatDAO" ref="objekatDAO"></property>
  </bean>

   <bean id="objekatPoslednjeDAO" class="pratiBaza.daoImpl.ObjektiPoslednjeDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="objekatPoslednjeServis" class="pratiBaza.servisImpl.ObjektiPoslednjeServisImpl">
        <property name="objekatPoslednjeDAO" ref="objekatPoslednjeDAO"></property>
  </bean>
  <bean id="organizacijaDAO" class="pratiBaza.daoImpl.OrganizacijeDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="organizacijaServis" class="pratiBaza.servisImpl.OrganizacijeServisImpl">
        <property name="organizacijaDAO" ref="organizacijaDAO"></property>
  </bean>
  <bean id="partnerDAO" class="pratiBaza.daoImpl.PartneriDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="partnerServis" class="pratiBaza.servisImpl.PartneriServisImpl">
        <property name="partnerDAO" ref="partnerDAO"></property>
  </bean>
  <bean id="projektDAO" class="pratiBaza.daoImpl.ProjektiDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="projektServis" class="pratiBaza.servisImpl.ProjektiServisImpl">
        <property name="projektDAO" ref="projektDAO"></property>
  </bean>
  <bean id="racunDAO" class="pratiBaza.daoImpl.RacuniDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="racunServis" class="pratiBaza.servisImpl.RacuniServisImpl">
        <property name="racunDAO" ref="racunDAO"></property>
  </bean>
    <bean id="racunRaspodelaDAO" class="pratiBaza.daoImpl.RacuniRaspodelaDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="racunRaspodelaServis" class="pratiBaza.servisImpl.RacuniRaspodelaServisImpl">
        <property name="racunRaspodelaDAO" ref="racunRaspodelaDAO"></property>
  </bean>
  <bean id="sifraDAO" class="pratiBaza.daoImpl.SifreDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="sifraServis" class="pratiBaza.servisImpl.SifreServisImpl">
        <property name="sifraDAO" ref="sifraDAO"></property>
  </bean>
  <bean id="proceduraDAO" class="pratiBaza.daoImpl.ProcedureDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="proceduraServis" class="pratiBaza.servisImpl.ProcedureServisImpl">
        <property name="proceduraDAO" ref="proceduraDAO"></property>
  </bean>
  <bean id="saobracajnaDAO" class="pratiBaza.daoImpl.VozilaSaobracajneDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="saobracajnaServis" class="pratiBaza.servisImpl.VozilaSaobracajneServisImpl">
        <property name="saobracajnaDAO" ref="saobracajnaDAO"></property>
  </bean>
  <bean id="saobracajna2DAO" class="pratiBaza.daoImpl.VozilaSaobracajne2DAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="saobracajna2Servis" class="pratiBaza.servisImpl.VozilaSaobracajne2ServisImpl">
        <property name="saobracajna2DAO" ref="saobracajna2DAO"></property>
  </bean>
  <bean id="simDAO" class="pratiBaza.daoImpl.SimDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="simServis" class="pratiBaza.servisImpl.SimServisImpl">
        <property name="simDAO" ref="simDAO"></property>
  </bean>
  <bean id="sistemDAO" class="pratiBaza.daoImpl.SistemDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="sistemServis" class="pratiBaza.servisImpl.SistemServisImpl">
        <property name="sistemDAO" ref="sistemDAO"></property>
  </bean>
  <bean id="sistemAlarmDAO" class="pratiBaza.daoImpl.SistemAlarmiDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="sistemAlarmServis" class="pratiBaza.servisImpl.SistemAlarmiServisImpl">
        <property name="sistemAlarmDAO" ref="sistemAlarmDAO"></property>
  </bean>
  <bean id="sistemGorivoDAO" class="pratiBaza.daoImpl.SistemGorivoDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="sistemGorivoServis" class="pratiBaza.servisImpl.SistemGorivoServisImpl">
        <property name="sistemGorivoDAO" ref="sistemGorivoDAO"></property>
  </bean>
  <bean id="sistemOperaterDAO" class="pratiBaza.daoImpl.SistemOperateriDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="sistemOperaterServis" class="pratiBaza.servisImpl.SistemOperateriServisImpl">
        <property name="sistemOperaterDAO" ref="sistemOperaterDAO"></property>
  </bean>
  <bean id="sistemPretplatnikDAO" class="pratiBaza.daoImpl.SistemPretplatniciDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="sistemPretplatnikServis" class="pratiBaza.servisImpl.SistemPretplatniciServisImpl">
        <property name="sistemPretplatnikDAO" ref="sistemPretplatnikDAO"></property>
  </bean>
  <bean id="sistemSesijaDAO" class="pratiBaza.daoImpl.SistemSesijeDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="sistemSesijaServis" class="pratiBaza.servisImpl.SistemSesijeServisImpl">
        <property name="sistemSesijaDAO" ref="sistemSesijaDAO"></property>
  </bean>
  <bean id="sistemUredjajModelDAO" class="pratiBaza.daoImpl.SistemUredjajiModeliDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="sistemUredjajModelServis" class="pratiBaza.servisImpl.SistemUredjajiModeliServisImpl">
        <property name="sistemUredjajModelDAO" ref="sistemUredjajModelDAO"></property>
  </bean>
  <bean id="sistemUredjajProizvodjacDAO" class="pratiBaza.daoImpl.SistemUredjajiProizvodjaciDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="sistemUredjajProizvodjacServis" class="pratiBaza.servisImpl.SistemUredjajiProizvodjaciServisImpl">
        <property name="sistemUredjajProizvodjacDAO" ref="sistemUredjajProizvodjacDAO"></property>
  </bean>
  <bean id="trosakDAO" class="pratiBaza.daoImpl.TroskoviDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="trosakServis" class="pratiBaza.servisImpl.TroskoviServisImpl">
        <property name="trosakDAO" ref="trosakDAO"></property>
  </bean>
  <bean id="uredjajDAO" class="pratiBaza.daoImpl.UredjajiDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="uredjajServis" class="pratiBaza.servisImpl.UredjajiServisImpl">
        <property name="uredjajDAO" ref="uredjajDAO"></property>
  </bean>
  <bean id="vozacDAO" class="pratiBaza.daoImpl.VozaciDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="vozacServis" class="pratiBaza.servisImpl.VozaciServisImpl">
        <property name="vozacDAO" ref="vozacDAO"></property>
  </bean>
  <bean id="vozacDozvolaDAO" class="pratiBaza.daoImpl.VozaciDozvoleDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="vozacDozvolaServis" class="pratiBaza.servisImpl.VozaciDozvoleServisImpl">
        <property name="vozacDozvolaDAO" ref="vozacDozvolaDAO"></property>
  </bean>
  <bean id="vozacLekarskoDAO" class="pratiBaza.daoImpl.VozaciLekarskoDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="vozacLekarskoServis" class="pratiBaza.servisImpl.VozaciLekarskoServisImpl">
        <property name="vozacLekarskoDAO" ref="vozacLekarskoDAO"></property>
  </bean>
  <bean id="vozacLicencaDAO" class="pratiBaza.daoImpl.VozaciLicenceDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="vozacLicencaServis" class="pratiBaza.servisImpl.VozaciLicenceServisImpl">
        <property name="vozacLicencaDAO" ref="vozacLicencaDAO"></property>
  </bean>
  <bean id="vozacLicnaDAO" class="pratiBaza.daoImpl.VozaciLicnaDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="vozacLicnaServis" class="pratiBaza.servisImpl.VozaciLicnaServisImpl">
        <property name="vozacLicnaDAO" ref="vozacLicnaDAO"></property>
  </bean>
  <bean id="vozacPasosDAO" class="pratiBaza.daoImpl.VozaciPasosiDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="vozacPasosServis" class="pratiBaza.servisImpl.VozaciPasosiServisImpl">
        <property name="vozacPasosDAO" ref="vozacPasosDAO"></property>
  </bean>
  <bean id="voziloDAO" class="pratiBaza.daoImpl.VozilaDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="voziloServis" class="pratiBaza.servisImpl.VozilaServisImpl">
        <property name="voziloDAO" ref="voziloDAO"></property>
  </bean>
  <bean id="voziloNalogDAO" class="pratiBaza.daoImpl.VozilaNaloziDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="voziloNalogServis" class="pratiBaza.servisImpl.VozilaNaloziServisImpl">
        <property name="voziloNalogDAO" ref="voziloNalogDAO"></property>
  </bean>
  <bean id="voziloOpremaDAO" class="pratiBaza.daoImpl.VozilaOpremaDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="voziloOpremaServis" class="pratiBaza.servisImpl.VozilaOpremaServisImpl">
        <property name="voziloOpremaDAO" ref="voziloOpremaDAO"></property>
  </bean>
  <bean id="voziloOpremaPrijemDAO" class="pratiBaza.daoImpl.VozilaOpremaPrijemDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="voziloOpremaPrijemServis" class="pratiBaza.servisImpl.VozilaOpremaPrijemServisImpl">
        <property name="voziloOpremaPrijemDAO" ref="voziloOpremaPrijemDAO"></property>
  </bean>
  <bean id="voziloPrimoPredajaDAO" class="pratiBaza.daoImpl.VozilaPrimoPredajeDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="voziloPrimoPredajaServis" class="pratiBaza.servisImpl.VozilaPrimoPredajeServisImpl">
        <property name="voziloPrimoPredajaDAO" ref="voziloPrimoPredajaDAO"></property>
  </bean>
  <bean id="zonaDAO" class="pratiBaza.daoImpl.ZoneDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="zonaServis" class="pratiBaza.servisImpl.ZoneServisImpl">
        <property name="zonaDAO" ref="zonaDAO"></property>
  </bean>
  <bean id="zonaObjekatDAO" class="pratiBaza.daoImpl.ObjekatZoneDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="zonaObjekatServis" class="pratiBaza.servisImpl.ObjekatZoneServisImpl">
        <property name="zonaObjekatDAO" ref="zonaObjekatDAO"></property>
  </bean>
</beans>
